body {
  background-color: #eaf6f6;
}
img {
  border-radius: 50%;
}
h1 {
  color: lightseagreen;
}
h3 {
  color: lightseagreen;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  background:local;
  width: 5%;
}
